:root {
	--color-progress-light: rgba(255, 255, 255, 0.1);
	--color-progress-dark: #1e2026;
	--color-progress-card-blue: rgba(27, 28, 54, 0.25);
	--color-progress-card-gray: rgba(136, 136, 151, 0.25);
	--color-progress-label: rgba(255, 255, 255, 0.7);

	--color-progress-ahead: #82e400;
	--color-progress-behind: #f34e1e;
	--color-progress-average: #e6ff2a;

	--gap-progress: 50px;
	--gap-progress-md: 12px;
	--gap-progress-sm: 8px;
	--gap-progress-xs: 4px;
}

@-webkit-keyframes backdrop-fade {
	0%,
	100% {
		filter: brightness(1);
	}

	50% {
		filter: brightness(0.5);
	}
}

@keyframes backdrop-fade {
	0%,
	100% {
		filter: brightness(1);
	}

	50% {
		filter: brightness(0.5);
	}
}

body::before {
	-webkit-animation: backdrop-fade 10s ease-in-out infinite;
	        animation: backdrop-fade 10s ease-in-out infinite;
}

.base-template__wrapper {
	max-width: 1480px;
}

/**
 * Progress Bars Container
 */

.progress-bars {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	transform-origin: top center;
}

@media screen and (max-width: 1479.9px) {
	.progress-bars {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 499.9px) {
	.progress-bars {
		transform: scale(0.725);
	}
}

/**
 * Progress Bars Item
 */

.progress-bar {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-progress);
	min-width: 460px;
	width: 460px;
	padding: 20px;
	background: linear-gradient(
		135deg,
		var(--color-progress-card-blue),
		var(--color-progress-card-gray)
	);
	background-size: 200% 200%;
	background-position: 50% 50%;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: white;
	border: solid 1px var(--color-progress-light);
	border-radius: 40px;
	-webkit-backdrop-filter: blur(150px);
	        backdrop-filter: blur(150px);
	overflow: hidden;
}

@media screen and (max-width: 1479.9px) {
	.progress-bar {
		width: calc(50% - 15px);
	}
}

.progress-bar__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	-moz-column-gap: var(--gap-progress-md);
	     column-gap: var(--gap-progress-md);
	padding-right: 20px;
}

.progress-bar__main {
	display: flex;
	align-items: center;
	-moz-column-gap: var(--gap-progress-md);
	     column-gap: var(--gap-progress-md);
}

.progress-bar__main > img {
	display: block;
	width: 60px;
	height: 60px;
}

.progress-bar__main > div {
	display: flex;
	flex-direction: column;
	row-gap: 2px;
}

.progress-bar__title {
	margin: 0;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.1;
}

.progress-bar__label {
	font-weight: 300;
	color: var(--color-progress-label);
}

.progress-bar__label i {
	font-style: normal;
	color: white;
}

.progress-bar__label strong {
	font-weight: 400;
	color: white;
}

.progress-bar__time {
	font-size: 18px;
	line-height: 1.35;
}

.progress-bar__data {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	-moz-column-gap: var(--gap-progress-md);
	     column-gap: var(--gap-progress-md);
}

.progress-bar__steps,
.progress-bar__goal {
	display: flex;
	align-items: baseline;
	-moz-column-gap: var(--gap-progress-sm);
	     column-gap: var(--gap-progress-sm);
	white-space: nowrap;
}

.progress-bar__steps-title {
	padding: 20px 0;
	margin: -20px 0;
	font-size: 52px;
	font-weight: 600;
	line-height: 1;
	-webkit-mask-image: linear-gradient(
		180deg,
		transparent,
		#000 30px,
		#000 calc(100% - 30px),
		transparent
	);
	        mask-image: linear-gradient(
		180deg,
		transparent,
		#000 30px,
		#000 calc(100% - 30px),
		transparent
	);
}

.progress-bar__goal-title {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.35;
}

.progress-bar__progress {
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-progress-md);
}

.progress-bar__track {
	position: relative;
	height: 54px;
	background-color: var(--color-progress-light);
	border-radius: 16px;
}

.progress-bar__raised,
.progress-bar__average {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	overflow: hidden;
}

.progress-bar__raised {
	border-radius: 16px 0 0 16px;
}

@-webkit-keyframes average {
	to {
		background-position: 0 0;
	}
}

@keyframes average {
	to {
		background-position: 0 0;
	}
}

.progress-bar__average::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		-75deg,
		rgba(252, 252, 252, 0.3),
		rgba(252, 252, 252, 0.3) 12px,
		transparent 12px,
		transparent 24px
	);
	background-size: calc(124px * 10) 100%;
	background-position: calc(124px * 10) 0;
	-webkit-animation: average 30s linear infinite;
	        animation: average 30s linear infinite;
}

.progress-bar__knob {
	position: absolute;
	top: 50%;
	left: 0;
	width: 15px;
	height: 64px;
	border: solid 3px var(--color-progress-dark);
	border-radius: 30px;
	transform: translate(-50%, -50%);
}

.progress-bar.ahead .progress-bar__raised,
.progress-bar.ahead .progress-bar__knob {
	background-color: var(--color-progress-ahead);
}

.progress-bar.behind .progress-bar__raised,
.progress-bar.behind .progress-bar__knob {
	background-color: var(--color-progress-behind);
}

.progress-bar.average .progress-bar__raised,
.progress-bar.average .progress-bar__knob {
	background-color: var(--color-progress-average);
}

@-webkit-keyframes ahead-raised {
	to {
		width: 75%;
	}
}

@keyframes ahead-raised {
	to {
		width: 75%;
	}
}

@-webkit-keyframes ahead-knob {
	to {
		left: 75%;
	}
}

@keyframes ahead-knob {
	to {
		left: 75%;
	}
}

@-webkit-keyframes ahead-average {
	to {
		left: 50%;
		width: 25%;
	}
}

@keyframes ahead-average {
	to {
		left: 50%;
		width: 25%;
	}
}

.progress-bar.ahead .progress-bar__raised {
	-webkit-animation: ahead-raised 1s ease-in-out 1s forwards;
	        animation: ahead-raised 1s ease-in-out 1s forwards;
}

.progress-bar.ahead .progress-bar__knob {
	-webkit-animation: ahead-knob 1s ease-in-out 1s forwards;
	        animation: ahead-knob 1s ease-in-out 1s forwards;
}

.progress-bar.ahead .progress-bar__average {
	-webkit-animation: ahead-average 1s ease-in-out 1s forwards;
	        animation: ahead-average 1s ease-in-out 1s forwards;
}

@-webkit-keyframes behind-raised {
	to {
		width: 35%;
	}
}

@keyframes behind-raised {
	to {
		width: 35%;
	}
}

@-webkit-keyframes behind-knob {
	to {
		left: 35%;
	}
}

@keyframes behind-knob {
	to {
		left: 35%;
	}
}

@-webkit-keyframes behind-average {
	to {
		left: 35%;
		width: 15%;
	}
}

@keyframes behind-average {
	to {
		left: 35%;
		width: 15%;
	}
}

.progress-bar.behind .progress-bar__raised {
	-webkit-animation: behind-raised 1s ease-in-out 1.25s forwards;
	        animation: behind-raised 1s ease-in-out 1.25s forwards;
}

.progress-bar.behind .progress-bar__knob {
	-webkit-animation: behind-knob 1s ease-in-out 1.25s forwards;
	        animation: behind-knob 1s ease-in-out 1.25s forwards;
}

.progress-bar.behind .progress-bar__average {
	-webkit-animation: behind-average 1s ease-in-out 1.25s forwards;
	        animation: behind-average 1s ease-in-out 1.25s forwards;
}

@-webkit-keyframes average-raised {
	to {
		width: 60%;
	}
}

@keyframes average-raised {
	to {
		width: 60%;
	}
}

@-webkit-keyframes average-knob {
	to {
		left: 60%;
	}
}

@keyframes average-knob {
	to {
		left: 60%;
	}
}

.progress-bar.average .progress-bar__raised {
	-webkit-animation: average-raised 1s ease-in-out 1.5s forwards;
	        animation: average-raised 1s ease-in-out 1.5s forwards;
}

.progress-bar.average .progress-bar__knob {
	-webkit-animation: average-knob 1s ease-in-out 1.5s forwards;
	        animation: average-knob 1s ease-in-out 1.5s forwards;
}

.progress-bar__stats {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0;
	padding: 16px 12px;
	list-style: none;
	background-color: var(--color-progress-light);
	border-radius: 24px;
}

.progress-bar__stats li {
	display: flex;
	justify-content: center;
	align-items: center;
	-moz-column-gap: var(--gap-progress-md);
	     column-gap: var(--gap-progress-md);
	padding: 4px 12px;
}

.progress-bar__stats li:nth-child(2) {
	border-left: solid 1px var(--color-progress-light);
	border-right: solid 1px var(--color-progress-light);
}

.progress-bar__stats li > img {
	display: block;
	width: 24px;
	height: auto;
}

.progress-bar__stats li > div {
	display: flex;
	align-items: baseline;
	-moz-column-gap: var(--gap-progress-xs);
	     column-gap: var(--gap-progress-xs);
}

.progress-bar__stats-title {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.35;
}

/**
 * Odometer Customization
 */

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
	font-family: "Montserrat", sans-serif;
	line-height: 1;
}

.odometer-inside {
	display: flex;
	height: 52px;
}

.odometer-inside,
.odometer-inside * {
	text-align: left !important;
}

.odometer-digit {
	width: 33px;
}